form {
    display: grid;
    margin: 2em 10%;
    grid-template: 1fr 1fr / 1fr 1fr;
}

h1 {
    margin: 1em 10%;
}

fieldset {
    border: 0;
}

form>button {
    grid-column: 2 / 3;
    height: 2em;
    width: 6em;
    font-size: 1em;
    background-color: rgb(200, 200, 200);
    border: 0;
    border-radius: 0.7em;
}

form>button:hover {
    background-color: rgb(150, 150, 150);
}

input:not(#image), select {
    border: 0;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding: 3px 10px 3px 10px;
}

label {
    margin-left: 0.3em;
    font-size: 1.3em;
}

