<h1>Add a new product to the store</h1>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <label for="title">Title</label><br>
        <input name="title" type="text" formControlName="title" id="title"><br>

        <label for="price">Price</label><br>
        <input name="price" type="text" formControlName="price" id="price"><br>

        <label for="description">Description</label><br>
        <input name="description" type="description" formControlName="description" id="description"><br>
    
        <label for="category">Category</label><br>
        <select name="category" id="category" formControlName="category">
            <option value="electronics">Electronics</option>
            <option value="jewelery">Jewelery</option>
            <option value="men's clothing">Men's Clothing</option>
            <option value="women's clothing">Women's Clothing</option>
        </select><br>
    </fieldset>

    <fieldset>
        <label for="image">Image of the product</label><br>
        <input name="image" type="file" formControlName="image" id="image"><br>
    </fieldset>

    <button type="submit" [disabled]="!itemForm.valid">Add Item</button>
</form>