$main-red: rgb(120, 0, 0);
$beige: #ffde9b;

div.title {
    margin: 8em 0;
    color: $main-red;
    text-align: center;

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 4em;
        font-weight: 100;
    }
}

p {
    font-size: 1.7em;
    text-align: center;
}

div.upper-quote {
    margin: 6em;
    background-color: rgba(255, 255, 255, 0.3);
    width: 98vw;
    display: flex;
    justify-content: center;
}

div.quote {
    padding: 2.5em;
    display: flex;
    align-items: center;

    div {
        width: auto;
    }

    img {
        height: 20em;
    }

    p:first-of-type {
        font-weight: 700;
        font-size: 3em;
        margin: 0;
    }

    p:nth-of-type(2) {
        text-align: start;
        width: 200px;
        font-size: 2em;
        margin: 0 0 0 5em;
        font-style: italic;
    }
}

p {
    margin: 0.2em 0;
}