<div class="title">
    <h1>About Us</h1>
    <h2>Who are we exactly?</h2>
</div>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Obcaecati tempora, corrupti vitae perspiciatis quia aspernatur excepturi consequuntur porro ut? 
    Similique ipsam consectetur, ipsum quaerat necessitatibus expedita. 
    Nulla molestiae praesentium aspernatur.
    Temporibus consequuntur sed sapiente cupiditate esse facilis corporis ut officiis, assumenda iusto molestias quas corrupti praesentium odio id saepe quo reprehenderit ducimus.
</p>
<div class="quote">
    <img src="ceo.png" alt="">
    <div>
        <p>"I love BMW."</p>
        <p>- XYZ, our CEO</p>
    </div>
</div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Maiores quo nobis ut iste quidem consequatur, 
    quasi ipsa non voluptatibus laboriosam consequuntur inventore 
    aperiam atque eveniet! 
</p>
<p>
    Excepturi cum doloremque, provident nihil voluptates id quae fugiat 
    ipsum! Sint architecto eligendi veritatis, qui quam distinctio 
    blanditiis a ex perspiciatis possimus in consequuntur fugiat debitis 
    sapiente voluptas quos cum necessitatibus rem est tempore adipisci non.
</p>
<p>
    Dolorem ab et asperiores corporis sapiente est ratione a cumque culpa 
    nostrum velit commodi dolor tempore voluptas, tenetur eligendi ipsum 
    porro quia odit deleniti aliquam pariatur! Voluptates magni nobis at 
    corporis nostrum, in saepe vitae.
</p>
<p>
    Asperiores praesentium possimus nam ea inventore facilis libero 
    accusamus odit, aspernatur tempore doloremque quae consectetur quam 
    ad deleniti dolorem recusandae sint voluptatibus magni officia nisi, 
    veritatis fugit exercitationem.
</p>
<p>
    Ratione repellat officiis quam delectus labore totam vel. 
    Exercitationem quasi ipsa mollitia harum, rem similique. 
    Non quos eveniet alias, ducimus, deserunt magnam officia dolore 
    officiis explicabo voluptas veniam ullam illo sapiente doloribus 
    repellendus tenetur aspernatur nisi, amet ab necessitatibus.
</p>
<p>
    Architecto repudiandae aspernatur, earum laudantium repellat alias 
    molestiae sed cupiditate atque quaerat neque modi dolor ab a dolorem 
    voluptatum illum! Aliquid, culpa architecto provident voluptatibus 
    consectetur similique facilis, dolorum mollitia quam nisi veniam 
    voluptatum magnam quia modi.
</p>
<p>
    Neque adipisci doloribus non quas repudiandae dolore! 
    Repudiandae alias laudantium facilis, optio ab quis esse aut sequi? 
    Perspiciatis rem incidunt molestias et ab ipsam maxime id quis, 
    ullam porro eius, molestiae tempora?
</p>