$radius: 1.5em;

div.title {
    margin: 15em 0;
    background-color: rgb(180, 0, 0);
    padding: 3em;
    color: white;
    border: 0.3em solid black;
    box-shadow: 0.4em 0.4em black;
    border-radius: $radius;

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        font-weight: 100;
    }    
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
}

div.top-choices,
div.our-story {
    background-color: rgb(180, 0, 0);
    border: 4px solid black;
    border-radius: $radius;
    box-shadow: 5px 5px black;
    color: white;
    text-align: start;
    width: clamp(300px, 60vw, 1000px);
    display: flex;
    flex-direction: column;
}

div.top-choices>div,
div.our-story>div {
    display: flex;
    padding: 2em 3em;
    width: 100%;
    box-sizing: border-box;
}

div.items {
    display: flex;
    justify-content: space-around;
    gap: 6%;

    div {
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        border-radius: $radius;
        padding: 1.8em 1em;
        flex: 1 1 0;
        justify-content: space-around;
        animation-name: slideout;
        animation-duration: 0.2s;

        img {
            width: 90%;
            height: 60%;
            object-fit: cover;
            margin: 0 auto;
            border-radius: $radius;
        }
    }

    div:hover {
        animation-duration: 0.2s;
        animation-name: slidein;
        animation-direction: alternate;
        box-shadow: 6px 6px black;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
    
    @keyframes slideout {
        from {
            translate: -1% -1%;
            scale: 100% 1;
        }
      
        to {
            translate: 0 0;
        }
    }

    @keyframes slidein {
        from {
          translate: 0 0;
        }
      
        to {
          translate: -1% -1%;
          scale: 100% 1;
        }
    }
}

div div.big-card-title {
    align-items: center;
    padding-bottom: 0;
}

img.icons {
    height: 2.5em;
    margin-right: 1em;
}

p.item-title {
    font-weight: 700;
    margin: 1em;
}

p.item-price {
    text-align: end;
    margin-inline-end: 1.5em;
}

div.our-story {
    margin-top: 4em;

    p {
        margin: 2em 3em 1.5em 3em;
    }

    a {
        margin: 0 3em 2em 3em;
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}