<h1>My Shopping Cart</h1>

<div class="cart-list" *ngIf="rowData.length !== 0">
    <div class="header">
        <p></p>
        <p>Price (USD)</p>
        <p>Quantity</p>
        <p>Total Price (USD)</p>
        <p></p>
    </div>
    <div class="cart-item" *ngFor="let item of rowData">
        <div routerLink="../item/:{{item.id}}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.category }}</p>
        </div>
        <p>${{ item.price }}</p>
        <input (ngModelChange)="changeQuantity(item.id)" [(ngModel)]="item.quantity" min="1" type="number" value="1" step="1">
        <p>${{ item.quantity * item.price }}</p>
        <button (click)="onRemove(item.id)">×</button>
    </div>
</div>
<div class="cart-list no-items" *ngIf="rowData.length === 0">
    <p>You have no items in your shopping cart.</p>
    <p>Go back to the <a routerLink="../products">items list</a> to see if you're interested in anything!</p>
</div>

<div class="info" *ngIf="rowData.length !== 0">
    <div>
        <p>Items Cost:</p>
        <p>Promo Code:</p>
        <p>Shipping Cost:</p>
        <p>Total Cost:</p>
    </div>
    <div>
        <p>${{ totalCost | number: '1.1-2' }} USD</p>
        <input type="text" [(ngModel)]="promoCode">
        <p>${{ shippingCost | number: '1.1-2' }} USD</p>
        <p *ngIf="promoCode != 'PROMO20'">${{ totalCost + shippingCost | number: '1.1-2' }} USD</p>
        <p *ngIf="promoCode == 'PROMO20'">${{ (totalCost + shippingCost) - 0.2 * (totalCost + shippingCost) | number: '1.1-2' }} USD</p>
    </div>
    <button>
        <img src="cart-proceed.png" routerLink="../checkout" alt="">
    </button>
</div>