$main-red: rgb(120, 0, 0);
$beige: #ffde9b;

div.best-products {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

h1 {
    color: $main-red;
    font-size: 3em;
}

div.number-of-sales {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

div.top-countries {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

div.visits {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-column: 3 / 4;
    grid-row: 2 / 4;

    div p {
        text-align: center;
    }

    p:first-of-type {
        font-size: 2em;
    }
}

div.body {
    height: 90%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40% 30% 30%;
    font-size: 1.3em;

    div {
        display: flex;
        flex-direction: column;
        border: 0;
        border-radius: 10px;
        background-color: #fff1d5;
        margin: 0.5em;
        padding: 2em;

        a {
            align-self: flex-end;
            cursor: pointer;
        }

        a:hover {
            color: $main-red;
            text-decoration: underline;
        }
    }
}

button {
    background-color: $main-red;
    color: $beige;
    border: 0;
    margin-right: 2%;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
}

div.title {
    margin: 0 0 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    background-color: rgb(80, 0, 0);
}

button:hover:active {
    background-color: $main-red;
    color: $beige;
}

div.pitch>ag-grid-angular {
    font-size: 1.4em;
    height: 80%;
}

div.cats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;

    button {
        background: none;
        color: $main-red;
        margin: 0 10%;
    }

    button.chosen-cat {
        background-color: $main-red;
        color: $beige;
    }
}

ag-grid-angular {
    margin: 1em 0;
    flex: 1;
}