<div class="cats">
    <button (click)="chooseDash(0)">Dashboard</button>
    <button (click)="chooseDash(1)">Best-Selling Products</button>
    <button (click)="chooseDash(2)">Sales Graph</button>
    <button (click)="chooseDash(3)">Top Countries Sold To</button>
    <button (click)="chooseDash(4)">Website Visits</button>
</div>
<div class="pitch" *ngIf="choices[0]">
    <h1>Dashboard</h1>
    <div class="body">
        <div class="best-products">
            <h2>Best-Selling Products</h2>
            <ag-grid-angular 
            class="ag-theme-quartz" 
            [rowData]="rowData" 
            [columnDefs]="colDefs" />
            <a (click)="chooseDash(1)">More details...</a>
        </div>
        <div class="number-of-sales">
            <h2>Sales Graph</h2>
            <a (click)="chooseDash(2)">More details...</a>
        </div>
        <div class="top-countries">
            <h2>Top Countries Sold To</h2>
            <ag-grid-angular 
            class="ag-theme-quartz"
            [rowData]="rowData" 
            [columnDefs]="colDefs" />
            <a (click)="chooseDash(3)">More details...</a>
        </div>
        <div class="visits">
            <h2>Website Visits</h2>
            <div>
                <p>X</p>
                <p>visits in the past week.</p>
            </div>
            <a (click)="chooseDash(4)">More details...</a>
        </div>
    </div>
</div>
<div class="pitch" *ngIf="choices[1]">
    <h1>Best-Selling Products</h1>
</div>
<div class="pitch" *ngIf="choices[2]">
    <h1>Sales Graph</h1>
</div>
<div class="pitch" *ngIf="choices[3]">
    <h1>Top Countries Sold To</h1>
</div>
<div class="pitch" *ngIf="choices[4]">
    <h1>Website Visits</h1>
</div>