$main-red: rgb(120, 0, 0);

div.body {
    display: flex;
    font-size: 1.5em;

    div:first-child {
        font-weight: 700;
        margin-right: 2em;
    }

    p {
        margin-bottom: 1em;
    }
}

button {
    background-color: $main-red;
    color: white;
    align-self: flex-end;
    border: 0;
    margin-left: 1em;
    font-size: large;
    margin-top: 0;
    padding: 0.7em 2em;
    border-radius: 0.7em;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: $main-red;
}

button:hover:active {
    background-color: rgb(234, 234, 234);
}

div.title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
        color: $main-red;
        font-size: 3em;
    }
}

div.pass {
    display: flex;
    align-items: start;

    p {
        margin: 0;
    }

    button {
        background-color: rgb(197, 197, 197);
        color: black;
    }

    button:hover {
        background-color: rgb(168, 168, 168);
        color: black;
    }

    button:hover:active {
        background-color: rgb(144, 144, 144);
        color: black;
    }
}

@media screen and (max-width: 900px) {
    div.body {
        div:first-of-type {
            width: 4em;
            margin-right: 10px;
        }

        div.pass button {
            margin-left: 10px;
        }
    }
}