<h1>My Favourites</h1>
<div class="favourites-list" *ngIf="rowData.length !== 0">
    <div class="fav-item" *ngFor="let item of rowData">
        <img [src]="item.image" alt="Image of the {{ item.title }}" routerLink="../item/:{{item.id}}">
        <div routerLink="../item/:{{item.id}}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.category }}</p>
        </div>
        <p>{{ item.description }}</p>
        <button (click)="onRemove(item.id)">×</button>
    </div>
</div>
<div class="favourites-list no-items" *ngIf="rowData.length === 0">
    <p>You have no items set as Favourites.</p>
    <p>Go back to the <a routerLink="../products">items list</a> to see if you're interested in anything!</p>
</div>