$beige: #ffde9b;
$main-red: rgb(120, 0, 0);

nav {
    display: flex;
    align-items: center;
    background-color: $main-red;
    justify-content: center;
    color: $beige;
    gap: 5%;
    height: 5em;
    font-size: 1.3em
}

a {
    text-decoration: none;
    color: $beige;
}

a:hover {
    text-decoration: underline;
}

img {
    height: 30px;
    margin-right: 1em;
}

@media screen and (max-width: 900px) {
    nav {
        font-size: 0.7em;

        img {
            height: 1.5em;
        }
    }
}