nav {
    display: flex;
    align-items: center;
    background-color: rgb(180, 0, 0);
    justify-content: center;
    color: white;
    gap: 5%;
    height: 5em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

img {
    height: 30px;
    margin-right: 1em;
}