$main-red: rgb(120, 0, 0);

h2 {
    text-align: start;
    font-size: 3em;
}

button.back {
    background: none;
    color: $main-red;
    font-size: 1.5em;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

button.back:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

button.back:hover:active {
    background-color: rgba(0, 0, 0, 0.3);
}

div.options {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    button {
        flex: 1;
        padding: 0.5em;
        border: 0;
        border-radius: 0.5em;
        cursor: pointer;
        animation-name: slideout;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    button:hover {
        animation-name: slidein;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    button:hover:active {
        box-shadow: none;
        animation-name: slideout;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    div.buttons {
        display: flex;
        gap: 0.5em;

        button:first-of-type {
            background-color: #c8c8c8;
        }

        button:first-of-type:hover {
            box-shadow: 3px 3px rgb(160, 160, 160);
        }

        button:first-of-type:hover:active {
            box-shadow: none;
        }

        button:nth-of-type(even) {
            background-color: #434343;
        }

        button:nth-of-type(even):hover {
            box-shadow: 3px 3px rgb(50, 50, 50);
        }

        button:nth-of-type(even):hover:active {
            box-shadow: none;
        }

        img {
            height: 2.5em;
            width: auto;
        }
    }
}

div.quantity {
    align-items: center;
    justify-content: space-between;
    display: flex;

    input {
        width: 10%;
        background-color: rgba(121, 121, 121, 0.5);
        border-radius: 1em;
        border: 0;
        padding: 0.5em;
        font-size: 1em;
    }

    p {
        flex: 0 1 200px;
        text-align: end;
    }
}

span,
div.quantity p {
    font-weight: 700;
}

div.item-info {
    display: flex;
    flex-direction: column;
    gap: 3em;

    >p:first-of-type {
        font-style: italic;
    }

    div.bolds {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

div.item-page {
    display: flex;
    gap: 1em;
    font-size: 1.4em;

    img {
        width: 40%;
        height: 60vh;
        object-fit: cover;
        border-radius: 1em;
    }
}

div.other-items {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    justify-content: space-between;

    div {
        flex-basis: 18%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        background-color: white;
        padding: 1em;
        justify-content: space-between;
        animation-name: slideout;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        cursor: pointer;

        p:nth-of-type(even) {
            text-align: end;
            font-weight: 700;
        }
    }

    div:hover {
        animation-name: slidein;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        box-shadow: 3px 3px rgb(169, 169, 169);
    }

    img {
        height: 120px;
        border-radius: 10px;
        object-fit: cover;
    }
}

div.small {
    display: none;
}

div.item {
    border-radius: 10px;
    border: 3px solid rgb(131, 131, 131);
}

@keyframes slideout {
    from {
        translate: -3px -3px;
        scale: 100% 1;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slidein {
    from {
        translate: 0 0;
    }

    to {
        translate: -3px -3px;
        scale: 100% 1;
    }
}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 2em;
    }

    div.item-info {
        div.big {
            display: none;
        }
    }

    div.other-items {
        div.item {
            width: 40%;
        }
    }

    div.bolds,
    div.options {
        width: 100%;
        align-self: center;
    }

    div.bolds {
        flex-direction: column;

        div.quantity input {
            width: 20%;
            margin-left: 10%;
        }
    }

    div.small {
        display: flex;
    }
}