div.sidebar {
    background-color: rgb(180, 0, 0);
    border-radius: 1em;
    border: 5px solid black;
    box-shadow: 6px 6px black;
    color: white;
    padding: 10%;
    gap: 2em;
    font-size: 1.1em;
    height: fit-content;
}

div.filter {
    gap: 1em;
}

div.sort h4 {
    margin-bottom: 1em;
}

div {
    display: flex;
    flex-direction: column;
}

div.budget div {
    flex-direction: row;
    justify-content: space-between;
}

input#budget {
    margin-bottom: 0.6em;
}

h5 {
    margin-bottom: 0.6em;
}

div.category div,
div.sort div {
    display: block;
}

h1 {
    color: rgb(180, 0, 0);
    font-size: 2.5em;
}

div.body {
    margin-left: 2em;

    div.items {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    div.items div {
        border: 3px solid rgb(107, 107, 107);
        border-radius: 0.7em;
        margin-top: 1em;
        width: 7em;
        background-color: white;
        padding: 1em;
        gap: 10px;
        flex: 1;
        cursor: pointer;

        p:nth-of-type(2) {
            text-align: end;
            font-weight: 700;
        }
    }

    div.items div:hover {
        animation-duration: 0.2s;
        animation-name: slidein;
        animation-direction: alternate;
        box-shadow: 5px 5px rgb(171, 171, 171);
        animation-fill-mode: forwards;
        cursor: pointer;
    }
}

img {
    height: 150px;
    object-fit: cover;
    border-radius: 1em;
}

@keyframes slideout {
    from {
        translate: -1% -1%;
        scale: 100% 1;
    }
  
    to {
        translate: 0 0;
    }
}

@keyframes slidein {
    from {
      translate: 0 0;
    }
  
    to {
      translate: -2% -2%;
      scale: 100% 1;
    }
}