<div class="sidebar">
    <div class="filter">
        <h4>FILTER BY</h4>
        <div class="category">
            <h5>Category</h5>
            <div>
                <input (click)="filtByCat('electronics')" type="checkbox" name="electronics" id="electronics">
                <label for="electronics">Electronics</label>
            </div>
            <div>
                <input (click)="filtByCat('jewelery')" type="checkbox" name="jewelery" id="jewelery">
                <label for="jewelery">Jewelery</label>
            </div>
            <div>
                <input (click)="filtByCat('men\'s clothing')" type="checkbox" name="mens-clothing" id="mens-clothing">
                <label for="mens-clothing">Men's clothing</label>
            </div>
            <div>
                <input (click)="filtByCat('women\'s clothing')" type="checkbox" name="womens-clothing" id="womens-clothing">
                <label for="womens-clothing">Women's clothing</label>
            </div>
        </div>
        <div class="budget">
            <div>
                <h5>Budget</h5>
                <h5>$0 - $5000</h5>
            </div>
            <input type="range" id="budget">
            <label for="budget">Set your budget, and browse items only within it.</label>
        </div>
    </div>
    <div class="sort">
        <h4>SORT BY</h4>
        <div>
            <input (click)="sort('alph-small')" name="sort" value="alph-small" type="radio" id="alph-small">
            <label for="alph-small">Alphabetical (A-Z)</label>
        </div>
        <div>
            <input (click)="sort('alph-large')" name="sort" value="alph-large" type="radio" id="alph-large">
            <label for="alph-large">Alphabetical (Z-A)</label>
        </div>
        <div>
            <input (click)="sort('price-small')" name="sort" value="price-small" type="radio" id="price-small">
            <label for="price-small">Price (Cheap - Expensive)</label>
        </div>
        <div>
            <input (click)="sort('price-big')" name="sort" value="price-big" type="radio" id="price-big">
            <label for="price-big">Price (Expensive - Cheap)</label>
        </div>
        <div>
            <input (click)="sort('popular')" name="sort" value="popular" type="radio" id="popular" checked>
            <label for="popular">Most Popular</label> 
        </div>
    </div>
</div>
<div class="body">
    <h1>All Products</h1>
    <div class="items">
        @for (item of displayedItems; track item) {
            <div [routerLink]="routing(item.id)">
                <img [src]="item.image" alt="Image of item {{item.id}}">
                <p>{{ item.title }}</p>
                <p>${{ item.price }} USD</p>
            </div>
        }
    </div>
</div>