@font-face {
    font-family: 'San Francisco';
    src: url('/sfuitext-regular-webfont.woff') format('woff'),
        url('/sfuitext-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Milky Vintage';
    src: url(/MilkyVintage-Regular.ttf);
}

* {
    margin: 0;
    font-family: 'Milky Vintage', sans-serif;
}

body {
    background-color: #ffde9b;
    background-attachment: fixed;
    background-size: 50%;
    backdrop-filter: blur(3px);
    margin: 0;
    padding: 0;
}

p {
    line-height: 130%;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
    width: 100%;
}

.icons {
    cursor: pointer;
}

app-login,
app-register,
app-home-page,
app-new-item,
app-about-us,
app-shopping-cart,
app-checkout,
app-favourites,
app-display-item,
app-account-info,
app-change-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    width: clamp(500px, 70vw, 1050px);
    align-self: center;
}

app-admin-dashboard {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    align-self: center;
    width: clamp(500px, 90vw, 2000px);
    margin-top: 3em;
    margin-bottom: 5em;
}

app-shopping-cart,
app-account-info,
app-favourites,
app-checkout,
app-new-item {
    align-items: normal;
}

app-list-items {
    display: grid;
    width: clamp(500px, 80vw, 1050px);
    margin-top: 3em;
    align-self: center;
    grid-template-columns: 30% 70%;
    margin-bottom: 5em;
}

app-home-page {
    text-align: center;
}

app-categories-listing {
    position: absolute;
    top: 80px;
    z-index: 1000;
}

app-options {
    z-index: 1000;
}

app-display-item,
app-account-info {
    padding: 2em;
    border-radius: 1em;
    margin: 2em 0;
    gap: 2em;
    align-items: start;
}

@media screen and (max-width: 900px) {
    body {
        align-items: center;
    }

    app-header {
        align-self: center;
        width: 100%;
    }

    app-list-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    app-display-item {
        width: 90%;
        margin: 0;
    }

    app-favourites,
    app-shopping-cart,
    app-account-info {
        width: 90%;
    }
}