/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icons {
    cursor: pointer;
}