@font-face {
    font-family: 'San Francisco';
    src: url('/sfuitext-regular-webfont.woff') format('woff'),
    url('/sfuitext-regular-webfont.woff2') format('woff2');
}

* {
    margin: 0;
    font-family: 'San Francisco', sans-serif;
}

body {
    background-image: url('/background.png');
    background-attachment: fixed;
    background-size: 50%;
}

p {
    line-height: 130%;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
    width: 100%;
}

.icons {
    cursor: pointer;
}

app-login,
app-register,
app-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

app-home-page {
    text-align: center;
}

app-list-items {
    display: grid;
    width: clamp(800px, 60vw, 1000px);
    margin-top: 3em;
    align-self: center;
    grid-template-columns: 30% 70%;
    margin-bottom: 5em;
}

app-categories-listing {
    position: absolute;
    top: 80px;
    z-index: 1000;
}

app-display-item {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px) brightness(90%);
    padding: 2em;
    border-radius: 1em;
    margin: 3em;
    align-self: center;
    width: clamp(500px, 70vw, 900px);
    gap: 2em;
}